body{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    background-color: #F9FAF8;
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 300px;
    height: auto;
}

#navbar{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 300px;
}

#navbar ul{
    display: flex;
    justify-content: flex-end;
    margin: 12px 0;
}

#navbar li{
    margin-left: 24px;
}

#navbar h3{
    font-size: 24px;
    margin: 12px 0;
}

#navbar h3, #navbar a{
    color: #F9FAF8;
}

.top-container{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 300px;
}

.top-container h1{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.top-container p{
    font-size: 18px;
    margin: 0;
}

.top-container button{
    color: #F9FAF8;
    background-color: #3882F6;
    border-style: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 8px;
    padding: 6px 20px;
}

.left-content{
    color: #F9FAF8;
    width: 400px;
}