body{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    background-color: #F9FAF8;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 300px;
    height: auto;
}

#navbar{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 300px;
}

#navbar ul{
    display: flex;
    justify-content: flex-end;
    margin: 12px 0;
}

#navbar li{
    margin-left: 24px;
}

#navbar h3{
    font-size: 24px;
    margin: 12px 0;
}

#navbar h3, #navbar a{
    color: #F9FAF8;
}

.top-container{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 300px;
}

.top-container h1{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.top-container p{
    font-size: 18px;
    margin: 0;
}

.top-container button{
    color: #F9FAF8;
    background-color: #3882F6;
    border-style: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 8px;
    padding: 6px 20px;
}

.top-container .left-content{
    color: #F9FAF8;
    width: 400px;
}

.info-container{
    padding-bottom: 100px;
}

.info-container h2{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 50px 0;
}

.images{
    display: flex;
    padding: 0 300px;
    justify-content: space-around;
}

.image-and-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.image-and-description div{
    width:150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 20px;
}

.image-and-description p{
    text-align: center;
}

.quote-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px 350px;
}

.quote-container .quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    margin: 0;
}

.quote-container .quoter{
    font-size: 24px;
    font-weight: 900;
    align-self: flex-end;
}

.call-to-action{
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 300px;
    padding: 40px 150px;
    box-sizing: border-box;
    border-radius: 15px;
}

.call-to-action p{
    color: #F9FAF8;
    margin-bottom: 0;
}

.call-to-action .header{
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}

.call-to-action button{
    color: #F9FAF8;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    font-size: 18px;
    padding: 6px 20px;
}

.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.footer p{
    color: #F9FAF8;
}